# Making sure that contributions appear properly credited in the insights
# even if made with different e-mail aliases etc.
rbejar <rbejar@unizar.es> Rubén Béjar <ruben>
rbejar <rbejar@unizar.es> Rubén Béjar <rbejar@unizar.es>
